html,
body {
  padding: 0;
  margin: 0;
  font-family: Hiragino Kaku Gothic Pro;
  background-color: #DAE5DA
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  max-width: 960px;
  margin: 0 auto;
}
