.loginContainer {
  h1 {
    margin: 24px 0px;
    text-align: center;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    width: 240px;
    margin-top: 16px;
  }
}

.loginButtonGroup {
  margin: 24px auto 0;
  text-align: center;
  button {
    width: 240px;
  }
}
